{% extends "base.html" %} {% block content %}

<center>
    <h2>ABOUT</h2>
</center>

<div class="container" style="background-color: rgba(76, 175, 80, 0.3); font-size: large; padding: 3em; margin-top: 1em;">
    <p>
        <p>Landmark Recognition is a technique of recognizing and identifying various landmarks. </p>
        <p>Usually when people travel to foreign countries or abstract locations, they click tons of photos. </p>
        <p>It becomes difficult to recognize the actual location or landmark after a certain amount of time. Large number of photos from different locations can lead to more confusion about the name of the place. </p>
        <p>This model can help people to identify the location from random pictures that they come across from various sources like internet, television, etc. </p>
    </p>

</div>

{% endblock %}