{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="grid-item-1 show" style=" float: left; width: 30%; padding: 2em;">
        <h3>Instructions</h3>
        <p>Place a photo by choosing from the library and click on the predict button to find details about the place</p>
    </div>
    <div class="grid-item-2" style=" float: right; width: 70%; padding: 2em;">
        <center>
            <h2>Image Classifier</h2>
        </center>
        <center>
            <div>
                <form id="upload-file" method="post" enctype="multipart/form-data" style="display: block;">
                    <label for="imageUpload" class="upload-label">
                    Choose...
                </label>
                    <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                </form>

                <div class="image-section" style="display:none;">
                    <div class="img-preview">
                        <div id="imagePreview">
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
                    </div>
                </div>

                <div class="loader" style="display:none;">

                </div>
                <div>
                    <div class="knowmore" style="display: none;">
                        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Know More</button>
                    </div>
                </div>

                <p id="result">
                    <span> </span>

                </p>

            </div>
        </center>
    </div>
</div>
{% endblock %}